* {
  background-color: #181a1b;
  color: white;
  font-family: sans-serif;
}

header {
  display: flex;
  justify-content: center;
}

button {
  display: flex;
  padding: 15px;
  margin: 20px;

  font-weight: lighter;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  font-size: 2rem;

  color: white;
  border: 2px solid white;
  border-radius: 5px;

  outline: none;
  transition: 0.5s;
}

button:hover {
  background-color: #343839;
}

button:active {
  transition: 0s;
  background-color: #626769;
}

footer a {
  position: fixed;
  bottom: 20px;
  right: 30px;

  letter-spacing: 0.1rem;
  text-decoration: none;
  font-family: sans-serif;

  color: #787878;

  transition: 0.2s;
}

footer a:hover {
  color: white;
}

article {
  display: flex;
  flex-direction: column;

  align-items: center;
}

.inputDataFromRequest {
  display: flex;
  box-sizing: border-box;
  width: 800px;
  height: 300px;
  margin: 30px;
  padding: 30px;

  background-color: #343839;
}
