* {
  background-color: #181a1b;
}

header {
  display: flex;
  justify-content: center;
}

button {
  display: flex;
  padding: 15px;
  margin: 20px;

  font-weight: lighter;
  letter-spacing: 0.3rem;
  text-transform: uppercase;
  font-size: 2rem;

  color: white;
  border: 2px solid white;
  border-radius: 5px;

  outline: none;
  transition: 0.5s;
}

button:hover {
  background-color: #343839;
}

button:active {
  background-color: #626769;
}
