* {
  background-color: #181a1b;
}

body {
  width: 1200px;
}

body header {
  margin: 0 auto;
}

input [type="button"] {
  display: flex;
  padding: 15px;

  font-weight: bold;
  text-transform: capitalize;

  color: white;
  border: 2px solid white;
  border-radius: 5px;

  outline: none;
  transition: 0.5s;
}

button:hover {
  background-color: #26292a;
}

button:active {
  background-color: #4c5153;
}
